<!doctype html>
<html lang="{{ lang }}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Viewport for responsive web design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

        {% if pageTitle != '' %}
            <title>{{ pageTitle }}</title>
        {% else %}
            <title>{{ ogSiteName }}</title>
        {% endif %}

        <meta name="description" content="">

        <link rel="canonical" href="">

        <meta http-equiv="content-language" content="{{ lang }}">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <script>
            (function(d) {
              var config = {
                kitId: 'vtv7iyd',
                scriptTimeout: 3000,
                async: true
              },
              h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>

        <link rel="stylesheet" href="assets/css/external/reset.css" type="text/css">
        <link rel="stylesheet" href="assets/css/external/animate.min.css" type="text/css">
        <link rel="stylesheet" href="assets/css/reizoko.css" type="text/css">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


        {# Defaults set in site-info.json #}
        <meta property="og:type" content="{{ ogType }}">
        <meta property="og:url" content="{{ ogUrl }}">
        <meta property="og:title" content="{{ ogTitle }}">
        <meta property="og:description" content="{{ ogDescription }}">

        <meta property="og:image" content="{{ ogImage }}">
        <meta property="og:image:width"  content="{{ ogImageWidth }}"/>
        <meta property="og:image:height"  content="{{ ogImageHeight }}"/>

        <meta property="og:site_name" content="{{ ogSiteName }}">
        <meta property="og:locale" content="{{ ogLocale }}">
    </head>
    <body>

        {# Display the current page's content #}
        <div class="curtain-shade-thingie"></div>
        {% include "_nav.twig" %}
        <main>
            {% block page %}{% endblock %}
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {# <script>
            $(window).scroll(function() {
                var scrolled = $(window).scrollTop();
                var minTranslation = 10; // Minimum pixels to scroll
                
                // Invert scroll direction with negative multiplier
                var translation = Math.min(scrolled * -0.03, minTranslation);
                $('.curtain-shade-thingie').css('transform', 'translateY(' + translation + 'px)');
            });
        </script> #}
        <script defer type="text/javascript" src="assets/js/external/ofi.min.js"></script>
        <script defer type="text/javascript" src="assets/js/index.min.js"></script>
    </body>
</html>
